<fieldset>
  <label style="margin-left:0; width:auto;">
    <%= check_box_tag 'settings[display_notified_users_in_forms]', 1,
                      @settings['display_notified_users_in_forms'] %>
    <%= l(:text_try_to_display_notified_users_in_forms) %>
  </label>
</fieldset>
